<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410231518567-mgpo1fc4pofmeqhf83vsun3gb0fdenf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410231518567-mgpo1fc4pofmeqhf83vsun3gb0fdenf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAmjFXlnA0ULs-Lj67UAAKZjzNvf36cD2M</string>
	<key>GCM_SENDER_ID</key>
	<string>410231518567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetAirways</string>
	<key>PROJECT_ID</key>
	<string>react-native-project-2a571</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-project-2a571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410231518567:ios:76b46a2df41f907fff2bc2</string>
</dict>
</plist>